hr{
    margin: 0px;
}

.footer_area{
    background-color: var(--white);
    padding: 1em;
}

.footer_list{
    display: none;
}

@media screen and (min-width: 1024px) {
    .footer_area{
        display: flex;
        justify-content: space-around;
    }
    .footer_list{
        display: block;
    }
    .footer_title{
        font-size: 1.5rem;;
    }
    .footer_list_title{
        color: var(--light-gray);
        font-size: 0.8;
        text-transform: uppercase;
    }
    .footer_list_item{
       display: flex;
       margin: 1em 0;
    }
    .footer_list_link{
        color: var(--gray);
        text-decoration: none;
        margin-left: 0.6rem;
    }
}

@media screen and (min-width: 1728px) {
    .footer_list{
        border-left: 1px solid var(--gray);
        padding-left: 1em;
    }
    
    .footer_area{
        padding: 3em 0;
    }
}