.navegation_icon_menu {
    width: 24px;
    height: 24px;
    background-image: url(../assets/img/Menu.svg);
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    padding: 1em;
}

.navegation {
    background-color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.navegation_container {
    display: flex;
    align-items: center;
}

.navegation_container_button{
    display: none;
}

.navegation_container_image {
    padding: 1em;
}

.navegation_container_menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

.navegation_container_button:checked~.navegation_container_menu {
    display: block;
}

.navegation_container_menu_title,
.navegation_container_menu_item {
    padding: 1em;
    background-color: var(--white);
}

.navegation_container_menu_title{
    color: var(--orange);
    font-weight: 700;
}

.navegation_container_menu_item_link{
    background: var(--gradient-blue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
    text-transform: uppercase;
}

.container_title, .container_options{
    display: none;
}

.navegation_text{
    display: none;
}


@media screen and (min-width: 1024px){
    .container_title, .container_title_bold{
        font-family:  var(--secondary-font);
        font-size: 1.9rem;
    }

    .container_title{
        font-weight: 400;
        display: block;
    }

    .container_title_bold{
        font-weight: 700;
    }

    .container_options{
        display: flex;
    }

    .container_options_item{
        padding: 0 1em;
        text-transform: uppercase;
    }

    .container_options_link{
        text-decoration: none;
        color: var(--black);
    }

    .navegation_icon_menu, .container_image_favorites{
        display: none;
    }

    .options_menu_button:checked ~ .navegation_container_menu{
        display: block;
        width: auto;
    }
    
    .options_menu_button{
        display: none;
    }
}

@media screen and (min-width: 1728px) {
    .navegation_container_link{
        display: flex;
        align-items: center;
        text-decoration: none;
        color: var(--black);
    }
    .navegation{
        padding: 0 2em;
    }
    nav{
        margin-right: auto;
    }
    .navegation_text{
        display: block;
    }
}