@import url(header.css);
@import url(banner.css);
@import url(carrossel.css);

:root{
    --background-main-color: #EBECEE;
    --white: #FFFFFF;
    --orange: #EB9B00;
    --gradient-blue: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    --blue: #002F52;
    --main-font: "Inter";
}

body{
    background-color: var(--background-main-color);
    font-family: var(--main-font), sans-serif;
    font-size: 1rem;
    font-weight: 400;
}