@import url(header.css);
@import url(banner.css);
@import url(carrossel.css);
@import url(topics.css);
@import url(contact.css);
@import url(footer.css);

:root{
    --background-main-color: #EBECEE;
    --white: #FFFFFF;
    --orange: #EB9B00;
    --gradient-blue: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    --blue: #002F52;
    --black: #000000;
    --gray: #474646;
    --light-gray: #858585;
    --main-font: "Poppins", sans-serif;
    --title-font: "Josefin Sans", sans-serif;
}

body{
    background-color: var(--background-main-color);
    font-family: var(--main-font);
    font-size: 1rem;
    font-weight: 400;
}