.topics{
    background: var(--gradient-blue);
    text-align: center;
    color: var(--white);
    padding: 1em 0;
}

.topics_title{
    font-weight: 300;
    padding-bottom: 1em;
}

.topics_visited_list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.topics_visited_item{
    margin: 1.5em 0.5em;
}

.topics_link{
    color: var(--white);
    padding: 1em;
    background-color: var(--orange);
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 800;
}

@media screen and (min-width: 1024px){
    .topics_title, .topics_link{
        font-size: 1.5rem;
    }
    .topics_visited_list {
        padding: 3em 20vw;
    }
    .topics_visited_item{
        margin: 2.1em 0.5em;
    }
}

@media screen and (min-width: 1728px) {
    .topics{
        padding: 3em 10vw;
    }
}